* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

.games-list {
  margin: 0 auto;
  max-width: 1000px;
  background-color: #cccc;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pagination-container {
  display: flex;
}
.pagination-btn {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  font-weight: bold;
  font-size: .9rem;
  background-color: lightblue;
  border: 1px solid lightblue;
  margin: 0 .2rem;
}
.pagination-btn:hover,
.pagination-btn:focus {
  background-color: hsl(195, 53%, 69%);
  border: 1px solid hsl(195, 53%, 69%);
  cursor: pointer;
}
.pagination-btn:active {
  background-color: hsl(195, 53%, 59%);
  border: 1px solid hsl(195, 53%, 59%);
}
.pagination-btn:disabled {
  color: gray;
}
.pagination-btn:disabled:hover,
.pagination-btn:disabled:focus,
.pagination-btn:disabled:active {
  cursor: default;
  background-color: lightblue;
}
.pagination-btn.current-page {
  border: 1px solid black;
}

/* ====== Main Loader ======= */
.main-loader {
  position: relative;
  height: 80px;
  width: 10px;
  color: black;
  animation: paddles 0.75s ease-out infinite;
}
.main-loader:before {
  content: "";
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 30px;
  width: 20px;
  height: 20px;
  background-color: #de3500;
  border-radius: 50%;
  animation: ballbounce 0.6s ease-out infinite;
}
@keyframes paddles {
  0% { box-shadow: -35px -10px, 35px 10px}
  50% { box-shadow: -35px 8px, 35px -10px }
  100% { box-shadow: -35px -10px, 35px 10px}
}
@keyframes ballbounce {
  0% { transform: translateX(-25px) scale(1, 1.2) }
  25% { transform: scale(1.2, 1) }
  50% { transform: translateX(15px) scale(1, 1.2) }
  75% { transform: scale(1.2, 1) }
  100% { transform: translateX(-25px) }
}

/* ========= Dropdown Loader ========== */
.dropdown-loader {
  position: relative;
  width: 30px;
  height: 30px;
}
.dropdown-loader:before , .dropdown-loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
}
.dropdown-loader:after {
  box-shadow: 0 2px 0 #EA580C inset;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}